@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './eat.scss';
@import './fight.scss';
@import './sleep.scss';
@import './play.scss';

body {
  display: flex;
}

#eat {

}

#fight {
  position: static;
  top: 0;
  left: 0;
}

#sleep {
  position: static;
  bottom: 0;
  left: 0;
}

#play {
  position: static;
  top: 0;
  right: 0;
}
