@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './eat.scss';
@import './fight.scss';
@import './sleep.scss';
@import './play.scss';

body {
  background-image: url("https://lh3.googleusercontent.com/OsM388xSv69sJaE-r2G8zeEak89q7NF5xPuR0HkNE_gQadufW9lly76nZAVzppAGoH0=h1024-no-tmp_tamagotchi_wallpapers_best_anime_backgrounds_apk.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 100px;
}
