@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './eat.scss';
@import './fight.scss';
@import './sleep.scss';
@import './play.scss';

body {
  display: flex;
  flex-wrap: wrap;
  
  .quad {
    #eat {
      background-color: #EC4E20;
    }
  }
}
